.HomeImageSet{
    position: fixed;
    height: 600px;
    width: 100%;
}

.HomeText{
    height: 600px;
    width: 100%;
    margin-left:200px;
}

.slide-1{
    background-image: url('../img/studio-2.png');
}


.slide-2{
    background-image: url('../img/studio-1.jpg');
}

.slide-3{
    background-image: url('../img/studio-3.jpg');
}


.slogan-1{
    color: "white";
    margin-top: 200px;
    font-family: 'Lexend', sans-serif;
}

.button{
    color: "white";
    background: "white";
    opacity: .9;
    margin-top: 200px;
}
