.Header{
    position: relative;
    height: 460px;
    z-index: -1;
}

.Choices{
    position: relative;
    margin-top: -55px;
}

.choice{
    height: 100px;
    width: 300px;
    position:relative;
    padding: 10px 10px 10px 10px;
}

.Submit{
    position: relative;
    margin-top: 30px;
}

.noDataButton{
    position: relative;
    margin-top: 50px;
}

.slide{
    background-image: url('../../components/img/studio-4.jpg');
}